body{
margin:0px;
padding:0px;
background-image: url("Background01.jpg");
background-size: 100% 1000px;
background-repeat:no-repeat;

}


#ow{
    border: 2px solid yellow;
    height:90px;
}

.logo{
    border: 2px solid red;
    height: 100px;
    width: 200px;
    padding-left: 20px;
}
.logo01{
    height: 100px;
    width: 100px;}

ul{
    list-style:none;
}
ul li{
     display:inline-block;
     padding-right:15px;
    
     
     
}


ul li a{
     color:black;   
    text-decoration:none;
     padding-right:15px;
               border:1px solid transparent;
               transition: 0.6s ease;
               font-size: 30px;
}
ul li a:hover{
           background-color: black;
text-decoration:none;
color:white;
}
#center{
    border: 2px solid green; 
    font-size: 20px;
   
    
    font-weight:  bolder;
    padding-top:1px;
    padding-left: 60px;
    width:700px;
    height:50px;
    position: absolute;
    top:20px;
    left:500px;
    
}



.about-me{
    display: none;
}   
   
ul li:hover .about-me{
    display:block;
    position:absolute;
    background:green;
    margin-top:1px;
    margin-left:-15px;
    width:170px;
    
}   
 ul li:hover .about-me ul{
  display: block;
     
 }
  
 ul li:hover .about-me ul li:hover{
    
       background-color: black;
text-decoration:none;
color:white;
 } 

 .searchbar{
     border:2px solid blue;
     
 }
 .foodera{
     position: absolute;
     top:170px;
     left:600px;
     font-family: Verdana, Arial, Tahoma, Serif;
     color:black;
     font-weight: 900;
     font-size: 40px;
 }
 .foodera01{
     font-size: 25px;
     position: absolute;
     top:240px;
     left:580px;
    font-family: Verdana, Arial, Tahoma, Serif;
     color:black; 
          font-weight: bold;
 }
 
 .searchbar-text{
    width:500px;
    border: 2px solid green;
    margin-top:230px;
    margin-left:500px;
    padding-left: 10px;
    
}
.searchbar-text:hover >.searchbar-text01{
    width: 400px;
    padding:0 6px;
}
.searchbar-text01{
    background-color: white;
    height: 45px;
    width: 0px;
    border-radius: 25px;
    border:2px solid red;
    background: pink;
    margin-left: 10px;
    font-weight: bold;
    outline:none;
    transition: 0.4s;
    color:black;
    font-size: 30px;
    
}
.Searchbutton{
    color: black;
    font-size:30px;
 
    
}