
body{
margin:0px;
padding:0px;
background-image: url("Background01.jpg");
background-size: 100% 1000px;
background-repeat:no-repeat;
font-family: 'Playfair Display', serif;

}


#ow{
    
    height:100px;
    
}
#ow::before{
    content: "";
    background: black;
    position: absolute;
    height:100px;
    width: 100%;
    z-index: -1;
    color: white;
    opacity: 0.3;
    
}
.logo{
    
    height: 100px;
    width: 200px;
    padding-left: 20px;
}
.logo01{
    height: 100px;
    width: 100px;
}

#center{
    
   
    font-size: 20px;    
    font-weight:  bolder;
    padding-top:1px;
    padding-left: 60px;
    width:700px;
    height:50px;
    position: absolute;
    top:20px;
    left:500px;
}



#center ul{
    list-style:none;
}



#center ul li{
     display:inline-block;
     padding-right:15px;
    
}


#center ul li a{
     color:black;   
    text-decoration:none;
     padding-right:15px;
               border:1px solid transparent;
               transition: 0.6s ease;
               font-size: 30px;
}
#center ul li a:hover{
           background-color: black;
text-decoration:none;
color:white;
}

.Bt01{    
position:absolute;
right:2px;
top:10px;
display:inline-block;

font-weight:  bolder;
height:70px;
width:250px;
padding-top: 10px;

    }
    
    
   #btn01{        
       margin-top:15px;
       
background-color:black;
color:white;
padding:10px 20px;
border:2px solid grey;
border-radius:10px;
font-size:15px;
cursor:pointer; 
    }
    #btn02{
        margin-top: 15px;
        background-color: black;
        color:white;
        font-size:15px;
        cursor:pointer;
        padding:10px 20px;
        border:2px solid grey;
        border-radius:10px;
    }    
   
   .left{
       
       margin:0px;
       width:100px;
   }  
   
   .popup{
background:rgba(0,0,0);
width:100%;
height:100%;
position:absolute;
top:0;
z-index: 1;
display:none;
justify-content:center;
align-items:center;
text-align:center;
}

.pop-content{
height:400px;
width:500px;
position: relative;
z-index: 1;
background:white;
padding:50px;
border-radius:5px;
position:relative;

}

input{
    font-weight:bolder;
    background:black;
    color:white;
  margin:20px auto;
display:block
width:100%;
padding:8px;
border:1px solid red;
}
      
img{
   height:30%;
    width:40%;
}

.close{
    position:absolute; 
    top:-30px;
    right:-30px;
     height:10%;
    width:10%;
    background-color: white;
    border:2px solid white;
    border-radius: 50%;
}
   
.about-me{
    display: none;
}   
   
ul li:hover .about-me{
    display:block;
    position:absolute;
    background:green;
    margin-top:1px;
    margin-left:-15px;
    width:170px;
    z-index: 1;
}   
 ul li:hover .about-me ul{
  display: block;
     
 }
  
 ul li:hover .about-me ul li:hover{
    
       background-color: black;
text-decoration:none;
color:white;
 } 

 
 
    .popup01{
        z-index: 1;
background:rgba(0,0,0);
width:100%;
height:100%;
position:absolute;
top:0;
display: none;
align-items:center;
text-align: center;
padding: 70px;
}




.pop-content01{
height:400px;
width:400px;
padding-bottom: 80px;
background:white;
position: absolute;
top:200px;
left:600px;
border-radius:5px;


}

.searchbar{
   
    
}

     
 
 .foodera{
     position: absolute;
     top:170px;
     left:600px;
     font-family: Verdana, Arial, Tahoma, Serif;
     color:black;
     font-weight: 900;
     font-size: 40px;
 }
 .foodera01{
     font-size: 25px;
     position: absolute;
     top:240px;
     left:580px;
    font-family: Verdana, Arial, Tahoma, Serif;
     color:black; 
     font-weight: bold;
 }


.searchbar-text{
    width:500px;
    
    margin-top:230px;
    margin-left:500px;
    padding-left: 10px;
    
}
.searchbar-text:hover >.searchbar-text01{
    width: 400px;
    padding:0 6px;
}
.searchbar-text01{
    
    height: 45px;
    width: 0px;
    border-radius: 25px;
    border:2px solid black;
    background: whitesmoke;
    margin-left: 10px;
    font-weight: bold;
    outline:none;
    transition: 0.4s;
    color:black;
    font-size: 30px;
    
}
.Searchbutton{
    color: black;
    font-size:30px;
    background: white;
 
    
}

#services{
    margin: 34px;
    display:flex;
    
}
#services .box{
    border: 2px solid brown;
    border-radius: 5px;
    background: whitesmoke;
}

#services .box img{
 height:200px; 
 width: 200px;
 display: block;
 margin: auto;
}

#services .box .delivery{
    text-align: center;
}

#services .box .center{
    text-align: center;
}
.service-container{
    padding: 20px;
    background: white;
 border: 2px solid green;
}
.service-container .service-heading{
    text-align: center;
    font-size: 35px;
}

/* Clients Section */
#client-section{ 
  
    position: absolute;
    top: 990px;
    background: white;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url("bg.jpg");
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    background: whitesmoke;
    padding: 40px;
}

#clients img{
    height: 124px;
}
#client-section .client-heading{
    text-align: center;
}


/* Contact Section */
#contact{
    font-family: 'Bree Serif', serif;
    position: absolute;
    top: 1300px;
    border: 2px solid greenyellow;
    width: 100%;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpg') no-repeat center center/cover;

}
#contact-box{
    font-family: 'Bree Serif', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
#submit{
    height: 50px;
    width: 50px;
    padding: 0px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    padding: 12px;
    text-align: center;
}

input{
    font-weight:bolder;
    background:black;
    color:white;
  margin:20px auto;
display:block
width:100%;
padding:8px;
border:1px solid red;
}