body{
margin:0px;
padding:0px;
background-image: url("Background01.jpg");
background-size: 100% 1000px;
background-repeat:no-repeat;

}


#ow{
    border: 2px solid yellow;
    height:90px;
}

.logo{
    border: 2px solid red;
    height: 100px;
    width: 200px;
    padding-left: 20px;
}
.logo01{
    height: 100px;
    width: 100px;}

ul{
    list-style:none;
}
ul li{
     display:inline-block;
     padding-right:15px;
    
     
     
}


ul li a{
     color:black;   
    text-decoration:none;
     padding-right:15px;
               border:1px solid transparent;
               transition: 0.6s ease;
               font-size: 30px;
}
ul li a:hover{
           background-color: black;
text-decoration:none;
color:white;
}
#center{
    border: 2px solid green; 
    font-size: 20px;
   
    
    font-weight:  bolder;
    padding-top:1px;
    padding-left: 60px;
    width:700px;
    height:50px;
    position: absolute;
    top:20px;
    left:500px;
    
}



.about-me{
    display: none;
}   
   
ul li:hover .about-me{
    display:block;
    position:absolute;
    background:green;
    margin-top:1px;
    margin-left:-15px;
    width:170px;
    
}   
 ul li:hover .about-me ul{
  display: block;
     
 }
  
 ul li:hover .about-me ul li:hover{
    
       background-color: black;
text-decoration:none;
color:white;
 } 

 div.price{
     border: 2px solid green;
     background: white;
     position: absolute;
     top:100px;
     height:100%;
     width: 100%;
 }
  div.price img{
     margin-top: 70px;
     margin-left: 100px;
     border: 2px solid #ccc;
     border-radius: 15px;
 }
 div.price h1{
     margin-left: 100px;
 }
  div.price p{
     margin-left: 100px;
 }
 .price01{
     display: flex;
     flex-direction: column;
     border: 2px solid red;
     height: 500px;
     position: absolute;
     top:70px;
     left: 700px;
     width: 700px;
 }
 .price01 h3{
     background:white;
     margin-left: 25px;
     border: 2px solid #ccc;
     
     
 }
 .price01 h3 input{
     margin-left:350px; 
 }